{% load static %}

<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap" rel="stylesheet">

<html lang="en">
<head>
    <link rel="stylesheet"  href="{%  static  'css/theme.css'  %}">
    <script src="{% static 'js/background.js' %}"></script> 
</head>
<body>
  <div class="terminal-body"> <!-- container for main terminal -->
    <div class = "inner-terminal"> <!-- container for terminal  -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis quis purus sed varius. Nam vulputate diam non mauris lacinia ultrices ac ut lorem. Proin in nunc sed nisi lacinia aliquet nec porta quam. Sed ac placerat justo, non accumsan augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> <!-- container for greeting text -->
      <ul> <!-- container for list of commands -->
        <li>/teachers</li>
        <li>/students</li>
        <li>/about_us</li>
      </ul>
    </div>
    <form><input type="text" name="" value=""></form>
  </div>
</body>
</html>
